@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

#header {
    font: 60px 'Fjalla One', sans-serif;
    color: #cbbeb3;
    padding: 15px 0 10px
}  
  
.headerBox 
{ 
    background-color: #69626d; 
    color: #fff;
}

.formBox { 
    background-color: #bcaf9c;
    color: #69626d;
    vertical-align: middle;
    padding-top: 5px;
}

table, 
th, 
td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}
 
.th {
    background-color: #cbbeb3;
    color: #fff;
    height: 40px;
    min-width: 50px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}